// Prefix
//
// Using as Prefix for all classes
$prefix: ea-;

//
// red
//
$red: (
        red : (#F44336, #FFFFFF)
);

//
// pink
//
$pink: (
        pink : (#E91E63, #FFFFFF)
);

//
// purple
//
$purple: (
        purple : (#9C27B0, #FFFFFF)
);

//
// deep-purple
//
$deep-purple: (
        deep-purple : (#673AB7, #FFFFFF)
);

//
// indigo
//
$indigo: (
        indigo : (#3F51B5, #FFFFFF)
);

//
// blue
//
$blue: (
        blue : (#2196F3, #000000)
);

//
// light-blue
//
$light-blue: (
        light-blue : (#03A9F4, #000000)
);

//
// cyan
//
$cyan: (
        cyan : (#00BCD4, #000000)
);

//
// teal
//
$teal: (
        teal : (#009688, #FFFFFF)
);

//
// green
//
$green: (
        green : (#4CAF50, #000000)
);

//
// light-green
//
$light-green: (
        light-green : (#8BC34A, #000000)
);

//
// lime
//
$lime: (
        lime : (#CDDC39, #000000)
);

//
// yellow
//
$yellow: (
        yellow : (#FFEB3B, #000000)
);

//
// amber
//
$amber: (
        amber : (#FFC107, #000000)
);

//
// orange
//
$orange: (
        orange : (#FF9800, #000000)
);

//
// deep-orange
//
$deep-orange: (
        deep-orange : (#FF5722, #000000)
);

//
// brown
//
$brown: (
        brown : (#795548, #FFFFFF)
);

//
// grey
//
$grey: (
        grey : (#9E9E9E, #000000),
        grey-50 : (#FAFAFA, #000000),
        grey-100 : (#F5F5F5, #000000),
        grey-200 : (#EEEEEE, #000000),
        grey-300 : (#E0E0E0, #000000),
        grey-400 : (#BDBDBD, #000000),
        grey-500 : (#9E9E9E, #000000),
        grey-600 : (#757575, #FFFFFF),
        grey-700 : (#616161, #FFFFFF),
        grey-800 : (#424242, #FFFFFF),
        grey-900 : (#212121, #FFFFFF)
);

//
// blue-grey
//
$blue-grey: (
        blue-grey : (#607D8B, #FFFFFF),
        blue-grey-50 : (#ECEFF1, #000000),
        blue-grey-100 : (#CFD8DC, #000000),
        blue-grey-200 : (#B0BEC5, #000000),
        blue-grey-300 : (#90A4AE, #000000),
        blue-grey-400 : (#78909C, #FFFFFF),
        blue-grey-500 : (#607D8B, #FFFFFF),
        blue-grey-600 : (#546E7A, #FFFFFF),
        blue-grey-700 : (#455A64, #FFFFFF),
        blue-grey-800 : (#37474F, #FFFFFF),
        blue-grey-900 : (#263238, #FFFFFF)
);

//
// black
//
$black: (
        black : (#000000, #FFFFFF)
);

//
// white
//
$white: (
        white : (#FFFFFF, #000000)
);